# Environment Variables
OPENROUTER_API_KEY=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
MODEL=openai/gpt-4o-mini
TEMPERATURE=0.2
MAX_TOKENS=1024

# Parameter
SYSTEM_PROMPT=prompt_counsel_v1.txt
DATASET_NAME=고객상담_마스킹_v1
TOPIC=금융 고객 상담에서 개인정보를 마스킹한 텍스트
DATA_NUM=3
